*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#head{
    display:flex;
    justify-content:center;
    background-color:#0f5e9c;
    border-radius:8px;
}
#top-menu{
    display:flex;
    justify-content:space-evenly;

}
#left, #right{
    background-color:#5ABCD8;
    max-width:50%;
    padding:20px 0 30px 0;
    border-radius:25px;
    justify-content:end;
    text-align: center;
}
.main-content{
    display:flex;
    justify-content:space-evenly;
}
#body{
    background-color: gray;
    background-image: url("background.png");

    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */

    position: fixed;

    top: 0;
    right: 0;
  
    width: 100%;
    height: auto;
  
    z-index: -10;
    animation: animatedBackground 10s linear infinite alternate;
}
@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

@media (max-width: 767px){
    .main-content{
        flex-direction: column-reverse;
    }
    #left, #right{
        width:auto;
    }
}
li{
    justify-content: row;
}

.img-wrapper{
    height: 300px;
}

.img-wrapper img{
    height: 100%;
}